<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <connectionStrings>
    <add name="Northwind_WCF"
       connectionString="Data Source=ABRIL-LAPTOP;Initial Catalog=Northwind;Integrated Security=True" />
    <add name="Oracle_WCF"
       connectionString="DATA SOURCE=PDBORCL;PERSIST SECURITY INFO=True;USER ID=hr;PASSWORD=hr" />
  </connectionStrings>
  <system.serviceModel>
    <!--DEFINE YOUR SERVICES WITH ENDPOINTS-->
    <services>
      <!--REFERENCES THE SERVICE BEHAVIORS-->
      <service name="SrvEmpleadoAjax.SrvEmpleado"
        behaviorConfiguration="MyServiceBehavior">
        <!--REFERENCES THE ENDPOINT BEHAVIORS-->
        <endpoint
           address=""
           binding="webHttpBinding" 
                    
        behaviorConfiguration="webEndPointBehavior"
        name="webEndPoint"
        contract="SrvEmpleadoAjax.ISrvEmpleado"/>

      </service>
    </services>
    <behaviors>

      <!--SERVICE BEHAVIORS-->
      <serviceBehaviors>
        <behavior name="MyServiceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
        
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
        
      </serviceBehaviors>
      <!--ENDPOINT BEHAVIORS-->
      <endpointBehaviors>
        <behavior name="webEndPointBehavior">
          <webHttp />
        </behavior>
      </endpointBehaviors>
      
    </behaviors>
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>


  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="SrvEmpleadoAjax.SrvEmpleado">
          <enableWebScript />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
        multipleSiteBindingsEnabled="true" />
    <services>
      <service name="SrvEmpleadoAjax.SrvEmpleado">
        <endpoint address="" behaviorConfiguration="CallingWCFUsingAjax.TemperatureServiceAspNetAjaxBehavior"
            binding="webHttpBinding" contract="CallingWCFUsingAjax.TemperatureService" />
      </service>
    </services>
  </system.serviceModel>

</configuration>
